.footer-container{
  background-color:var(--primary-bg) ;
  padding:10px;
  color:var(--white);
}

.contact-button{
  cursor:pointer;
  background-color: transparent;
  color:white;
  border:none;
  font-size: 16px;
}